
:root {
  --color-bg: red;
  --color-text: #f2f2f2;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
}

.card {
  padding-top: 12px; /* 오버라이드로 유틸리티 pt8 무력화 */
  box-shadow: 12px 12px 12px #d4f2f2;
}
